<div class="container mt-5">
    <h1>Detalhes da Avaliação</h1>
    <div class="list-group">
        <div class="list-group-item">
            <span><strong>Nome:</strong></span> {{ avaliacao.nome }}
        </div>
        <div class="list-group-item">
            <span><strong>Sexo:</strong></span> {{ avaliacao.get_sexo_display }}
        </div>
        <div class="list-group-item">
            <span><strong>Nascimento:</strong></span> {{ avaliacao.nascimento|date:"d/m/Y" }}
        </div>
        <div class="list-group-item">
            <span><strong>Celular:</strong></span> {{ avaliacao.celular }}
        </div>
        <div class="list-group-item">
            <span><strong>Social:</strong></span> {{ avaliacao.social }}
        </div>
        <div class="list-group-item">
            <span><strong>Relação:</strong></span> {{ avaliacao.get_relacao_display }}
        </div>
        <div class="list-group-item">
            <span><strong>Sociedades:</strong></span> {{ avaliacao.get_sociedade_display }}
        </div>
        <div class="list-group-item">
            <span><strong>Sobre a Igreja:</strong></span> {{ avaliacao.sobre_a_igreja }}
        </div>
        <div class="list-group-item">
            <span><strong>Louvor:</strong></span> {{ avaliacao.get_louvor_display }}
        </div>
        <div class="list-group-item">
            <span><strong>Visitação:</strong></span> {{ avaliacao.get_visitacao_display }}
        </div>
        <div class="list-group-item">
            <span><strong>Recepção:</strong></span> {{ avaliacao.get_recepcao_display }}
        </div>
        <div class="list-group-item">
            <span><strong>Evangelização:</strong></span> {{ avaliacao.get_evengelizacao_display }}
        </div>
        <div class="list-group-item">
            <span><strong>Comunicação:</strong></span> {{ avaliacao.get_comunicacao_display }}
        </div>
        <div class="list-group-item">
            <span><strong>Escola Dominical:</strong></span> {{ avaliacao.get_escola_dominical_display }}
        </div>
        <div class="list-group-item">
            <span><strong>Diáconos:</strong></span> {{ avaliacao.get_diaconos_display }}
        </div>
        <div class="list-group-item">
            <span><strong>Observação Diáconos:</strong></span> {{ avaliacao.observacao_diaconos }}
        </div>
        <div class="list-group-item">
            <span><strong>Presbíteros:</strong></span> {{ avaliacao.get_presbiteros_display }}
        </div>
        <div class="list-group-item">
            <span><strong>Observação Presbíteros:</strong></span> {{ avaliacao.observacao_presbiteros }}
        </div>
        <div class="list-group-item">
            <span><strong>Pastor:</strong></span> {{ avaliacao.get_pastor_display }}
        </div>
        <div class="list-group-item">
            <span><strong>Observação Pastor:</strong></span> {{ avaliacao.observacao_pastor }}
        </div>
        <div class="list-group-item">
            <span><strong>Seu Compromisso:</strong></span> {{ avaliacao.get_seu_compromisso_display }}
        </div>
        <div class="list-group-item">
            <span><strong>Leitura:</strong></span> {{ avaliacao.get_leitura_display }}
        </div>
        <div class="list-group-item">
            <span><strong>Áreas de Interesse:</strong></span>
            <ul>
                <li><strong>Comunicação:</strong> {% if avaliacao.area_interesse_comunicacao > 0 %} {{ avaliacao.area_interesse_comunicacao }} {% else %} Não Escolheu {% endif %}</li>
                <li><strong>Evangelismo e Missões:</strong> {% if avaliacao.area_interesse_evangelismo_missoes > 0 %} {{ avaliacao.area_interesse_evangelismo_missoes }} {% else %} Não Escolheu {% endif %}</li>
                <li><strong>Projeto Viver:</strong> {% if avaliacao.area_interesse_projeto_viver > 0 %} {{ avaliacao.area_interesse_projeto_viver }} {% else %} Não Escolheu {% endif %}</li>
                <li><strong>Departamento Infantil:</strong> {% if avaliacao.area_interesse_departamento_infantil > 0 %} {{ avaliacao.area_interesse_departamento_infantil }} {% else %} Não Escolheu {% endif %}</li>
                <li><strong>Ação Social/Diaconia:</strong> {% if avaliacao.area_interesse_acao_social_diaconia > 0 %} {{ avaliacao.area_interesse_acao_social_diaconia }} {% else %} Não Escolheu {% endif %}</li>
                <li><strong>Visitação:</strong> {% if avaliacao.area_interesse_visitacao > 0 %} {{ avaliacao.area_interesse_visitacao }} {% else %} Não Escolheu {% endif %}</li>
                <li><strong>Recepção:</strong> {% if avaliacao.area_interesse_recepcao > 0 %} {{ avaliacao.area_interesse_recepcao }} {% else %} Não Escolheu {% endif %}</li>
                <li><strong>Zeladoria:</strong> {% if avaliacao.area_interesse_zeladoria > 0 %} {{ avaliacao.area_interesse_zeladoria }} {% else %} Não Escolheu {% endif %}</li>
                <li><strong>Eventos:</strong> {% if avaliacao.area_interesse_eventos > 0 %} {{ avaliacao.area_interesse_eventos }} {% else %} Não Escolheu {% endif %}</li>
                <li><strong>Pregação:</strong> {% if avaliacao.area_interesse_pregacao > 0 %} {{ avaliacao.area_interesse_pregacao }} {% else %} Não Escolheu {% endif %}</li>
                <li><strong>Ensino:</strong> {% if avaliacao.area_interesse_ensino > 0 %} {{ avaliacao.area_interesse_ensino }} {% else %} Não Escolheu {% endif %}</li>
                <li><strong>Secretaria:</strong> {% if avaliacao.area_interesse_secretaria > 0 %} {{ avaliacao.area_interesse_secretaria }} {% else %} Não Escolheu {% endif %}</li>
                <li><strong>Louvor:</strong> {% if avaliacao.area_interesse_louvor > 0 %} {{ avaliacao.area_interesse_louvor }} {% else %} Não Escolheu {% endif %}</li>

            </ul>
        </div>
        <div class="list-group-item">
            <span><strong>Dízimo:</strong></span> <span class="badge bg-success">R$ {{ avaliacao.dizimo|floatformat:2 }}</span>
        </div>
        <div class="list-group-item">
            <span><strong>Data da Avaliação:</strong></span> {{ avaliacao.data_avaliacao|date:"d/m/Y" }}
        </div>
    </div>
</div>
